.main-container{
    max-width: 1200px;
}
ul{
    display: flex;
    justify-content: center;
    background: grey;
    list-style-type: none;
    margin:0;
    padding:0;
    height: 100px;
    align-items: center;
}
ul li div{
    color: red;
}