@font-face {
    font-family: 'icomoon';
    src:  url('../../assets/fonts/icomoon.eot?2c0e1a');
    src:  url('../../assets/fonts/icomoon.eot?2c0e1a#iefix') format('embedded-opentype'),
      url('../../assets/fonts/icomoon.ttf?2c0e1a') format('truetype'),
      url('../../assets/fonts/icomoon.woff?2c0e1a') format('woff'),
      url('../../assets/fonts/icomoon.svg?2c0e1a#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-edit-1:before {
    content: "\e900";
  }
  .icon-icons8-edit:before {
    content: "\e901";
  }